{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Practice evaluation round
{% endblock %}

{% block styles %}
<style type="text/css">
#Next {text-align: center;}
table {
  width: 80%;
}
</style>

{% endblock %}

{% block content %}
	<br>
	<p>Before you make your decisions for real you may practice making a referral, in order to familiarise yourself with the nature of the task.</p>
	<p>Below is a fictional profile of a performer who completed a fictional task – counting grains of sugar in a bowl.</p>
	<p>Please review the fictional profile and make your referral decision. </p>
	<p>Your behaviour here does not affect the payoff.</p>
	<br>

	{{ include refer_table_template }}

	<br></br>


	<p>Do you wish to refer this performer to a selector?</p>
	{% formfield player.Refer %}

	<br>
	<br>
	{% next_button %}

{% endblock %}
