{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Referrer accuracy
{% endblock %}
{% block content %}

<br>    
<P>Before you finish, please answer the following question, with the chance to earn some extra money.</P>
<p>Both female and male referrers were hired to review the performance of the performers and to decide whether or not they should be referred to selectors.</p>
<p>The referrers made their decision based on the performer's score in the first round of the relevant task, knowing that selectors’ decision on whom to select would be based on the performer's score in the second round.</p>
<p>Now imagine two groups: the group of all performers referred by female referrers, and the group of all performers referred by male referrers.</p>
<p>We would like to ask you the following: which group do you think scored higher, on average, in the second round of each task? </p> 
<p>You will have to give two answers, one for each task.</p> 
<p>For each correct answer, you will earn an additional €0.50 on top of your earnings so far. Note that we know the correct answer because we have calculated the average score of all performers referred by female referrers, and the average score of all performers referred by male referrers. If female-referred performers and male-referred performers had exactly the same average score, everyone will receive the additional €0.50.</p>

<br>
<h4>Maths Task</h4>
{{ formfield player.maths_gender_accuracy }}

<br>
<h4>Empathy Task</h4>
{{ formfield player.empathy_gender_accuracy }}

<br>
{% next_button %}

{% endblock %}