{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Referrer accuracy
{% endblock %}
{% block content %}

<br>    
<P>Before you finish, please answer the following question, with the chance to earn some extra money.</P>
<br>
<h5>The referrers' task</h5>
<p>Both female and male referrers were hired to review the performance of the performers and to decide whether or not they should be referred to selectors. The referrers made their decision based on the performer's score in the first round of the relevant task, knowing that selectors’ decision on whom to select would be based on the performer's score in the second round. 
<br>
<h5>Referrer ability</h5>
<p>Now imagine two groups: the group of all performers referred by female referrers, and the group of all performers referred by male referrers. Which group do you think scored higher, on average, in the second round of each task? </p> 
<p>You will have to give two answers, one for each task. For each correct answer, you will earn an additional £0.50 on top of your earnings so far.</p>

<br>
<h4>Maths Task</h4>
{{ formfield player.mathsgenderaccuracy }}

<br>
<h4>Childcare Task</h4>
{{ formfield player.childcaregenderaccuracy }}

<br>
{% next_button %}

{% endblock %}