{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Practice questions for {{task}} task
{% endblock %}

{% block content %}

<p>This is the {{ page_order }} task you will have to evaluate. </p>
<p>On the next page you will make your first selection decision for the {{task}} task, selecting one of two performers who did this task.</p> 
<p>The performers answered {{task_player_num_qs}} questions per round of the {{task}} task.</p>
<p>You will attempt a subset of questions from that task - 2 of the {{task_player_num_qs}}.</p>
<p>Before you continue to the referral stage, please answer the questions. Don't worry, your payoff doesn't depend on answering right or wrong - the purpose is just to familiarise yourelf with the task done by the performers.</p>
<br>
<br>

<h5> Questions </h5> 
{% formfields %}

<br>
<br>

{% next_button %}

{% endblock %}
