<p>This is the {{ page_order }} task you for which you will make selection decisions. On the next page you will make your first selection decision for the {{task}} task, selecting one of two performers who did this task. You will have to make four selection decisions overall for this task, with the possibility of winning up to £1.60.</p> 
<p>The performers did two rounds of the {{task}} task, answering {{task_player_num_qs}} questions per round. To give you an idea of how the {{task}} task worked, all five questions from the first round have been placed below. Please try to answer them. Don't worry, your payoff doesn't depend on answering right or wrong - the purpose is just to familiarise yourself with the task. </p>
<br>
<br>
 
<h4> {{Task}} questions </h4> 
<br>
<h5> Question one </h5> 
{% formfield player.maths_question_1_1 %}
<br>
<h5> Question two </h5> 
{% formfield player.maths_question_1_2 %}
<br>
<h5> Question three </h5> 
{% formfield player.maths_question_1_3 %}
<br>
<h5> Question four </h5> 
{% formfield player.maths_question_1_4 %}
<br>
<h5> Question five </h5> 
{% formfield player.maths_question_1_5 %}

<br>
<br>