{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Practice questions for {{task}} task
{% endblock %}

{% block content %}

<p>This is the {{ page_order }} task you will have to evaluate. </p>
<p>On the next page you will be shown the profile of two performers who completed the {{task}} task and asked which you would like to select.</p> 
<p>But first you will attempt a subset of questions from that task, in order to familiarise yourself with the challenge faced by the performers.</p>
<p>The performers answered {{ task_player_num_qs }} questions. Two of the {{ task_player_num_qs }} questions are given below.</p>
<p>Before you continue to the referral stage, please answer the questions. Don't worry, your payoff doesn't depend on answering right or wrong - the purpose is just to familiarise yourelf with the task done by the performers.</p>
<br>
<br>

<h5> Questions </h5> 
{% formfields %}

<br>
<br>

{% next_button %}

{% endblock %}
