{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Select performer for {{task}} task. Round {{display_round}}
{% endblock %}

{% block styles %}
<style type="text/css">
table {
  width: 80%;
}
</style>

{% endblock %}


{% block content %}

<p>Below are the profiles of two performers who completed the {{task}} task.</p>
<p>Please carefully read the profiles and decide which performer you wish to select.</p>
<p>Remember, your payoff depends on the score of the performer in the second round of the {{task}} task.</p>
<p>Remember also that referrers only saw the performer's score in the first round of the {{task}} task.</p>
<br>

{{ include select_table_template }}

<br>

<p>Which performer do you wish to select?</p>
{% formfield player.select %}

<br>
<br>

{% next_button %}

{% endblock %}
