{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Choose your study name
{% endblock %}

{{ block content }}

<p>Anonymised information on your performance in this study may be shown to participants in a future study. </p>
<p>In order to preserve your anonymity, you may choose a "study name" from the dropdown list below. This name will be displayed alongside your performance information if shown to a participant in the future study. </p>
<p>You can choose either a male name or a female name.</p>

<br>

<h4>Choose study name</h4>

{% formfield player.study_name }}

<br>

{{ next_button }}

{% endblock %}