{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Consent form
{% endblock %}

{% block content %}

	<h5>Study description</h5>
	<p>Researchers from the European University Institute, the University of Lausanne and the University of Amsterdam are inviting you to participate in a study concerning evaluation of performance in a maths task and a childcare knowledge task.</p>	
	<p> You will be paid a flat fee of {{ Constants.participation_fee }} to participate.
		You will also receive a bonus payment of up to {{ Constants.max_reward }}, based on your evaluations and a guess you will make about average performance in the tasks.
	</p>
	{{ include template}}

    {% next_button %}

{% endblock %}
