{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Practice referral feedback
{% endblock %}

{% block content %}
	<br>
	<p>This is the second part of the practice component. </p>
    <p>Below is displayed the second round score of the performer you selected.</p>
    <p>Please review the score and make your decision on what the referrer's payoff should be. Remember, this is still just for practice, so your behaviour here doesn't affect your payoff.</p>
    <br>

    <h5>Selected performer's second round score</h5>
    <p>You selected {{performer_letter}}, {{performer_name}}.</p> 
    <p>In the second round of the (fake) task, {{performer_name}} scored {{practice_performer_score}}.</p>
    <p>Your payoff for selecting {{performer_name}} is: {{practice_payoff}}</p>
    <br>
    <br>

    <h5>Referrer payoff</h5>
    <p>{{performer_letter}}, {{performer_name}}, was referred to you by {{referrer_name}}.</p>
    <p>Please consider {{performer_name}}'s score and decide whether you wish to:
    <ul>
        <li>Reward {{referrer_name}}, by increasing the referrer payoff to {{ Constants.referrer_reward}}</li>
        <li>Punish {{referrer_name}}, by decreasing the referrer payoff to {{ Constants.referrer_punishment}}</li>
        <li>Leave {{referrer_name}}'s payoff at {{ Constants.referrer_neither}}</li>
    </ul>
    <p>Remember, this is just a practice round. Your decision here will affect neither your own payoff nor the payoff of any actual referrer.</p>
    <br>
    <p>What payoff should {{referrer_name}} get?</p>
	{% formfield player.referrer_feedback %}

	<br>
	<br>
	{% next_button %}

{% endblock %}