<br>
<p>Please read the following text and answer the questions below.</p>
<br>
<h5>Taking care of toddlers</h5>
<img align=centre src="{% static 'childcare_text_round_2.png' %}" width="80%" />
<br>
<br>
<h5> Question one </h5> 
{% formfield player.childcare_question_2_1 %}
<br>
<h5> Question two </h5> 
{% formfield player.childcare_question_2_2 %}
<br>
<h5> Question three </h5> 
{% formfield player.childcare_question_2_3 %}
<br>
<h5> Question four </h5> 
{% formfield player.childcare_question_2_4 %}
<br>
<h5> Question five </h5> 
{% formfield player.childcare_question_2_5 %}
