{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Referral decision {{player.round_number}} of {{Constants.num_rounds}}
{% endblock %}

{% block styles %}
<style type="text/css">
#Next {text-align: center;}
table {
  width: 60%;
}
</style>

{% endblock %}

{% block content %}

<p>Below is the profile of {{performer_name}}, a performer who did the {{task}} task. Please carefully read the profile and decide whether you wish to refer {{performer_name}} to a selector or not.</p>

<br>

{{ include refer_table_template }}

<br>

<p>Do you wish to refer {{performer_name}} to a selector?</p>
{% formfield player.performer_refer %}

<br>
<br>

{% next_button %}

{% endblock %}
